.project_container {
  padding: .4em .5em;
}

.title_container{
    display: contents;
    justify-content: flex;
    margin-bottom: 0.5em;
}


.input{
    padding: .7em;
    border-radius: 1;
    border: none;
    display: flex;
    float: left;
    flex-direction: column;
    height: 40px;
    width: 350px;
    margin-right: 0.5em;    
    margin-top: 0.3em;    
    margin-bottom: 0.3em;     
}    

.input::placeholder{
    color: #7b7b7b;
}

.buttonPesquisa{  
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .4em .5em;
    margin-right: .5em;
    cursor: pointer;
    border: 0.1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 85px;
    float: left;
    height: 40px;
    
    margin-right: 0.5em;    
    margin-top: 0.3em;    
    margin-bottom: .3em;   
    }
.buttonPesquisa svg{
    margin-right: .2em;
    }
    
.buttonPesquisa:hover{
    background-color: #222;
    color: #ffbb33;
}    

.btnLink {
    text-decoration: none;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: .9em;
    padding: .4em .5em;
    margin-right: 0.5em;
    cursor: pointer;
    border: 0.1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 150px;
    float: right;
    height: 45px;
  
    margin-right: 0.1em;    
    margin-top: 0.3em;    
    margin-bottom: 0.3em;   
  
  }
  
  .btnLink:hover {
    color: #ffbb33;
  }

@media (max-width: 950px) {
.project_container {
    padding: 1em;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
}

@media (max-width: 450px) {
.project_container {
    padding: 0.1em;
    font-size: small;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8em;
}
}
