.login_container {
    width: 300px;
    margin: 2em auto;
    padding: .5em;
}

@media (max-width: 450px) {
    .login_container {
        width: 200px;
        margin: 1.5em auto;
        padding: .5em;
        font-size: small;
    }
    }